In [5]:
# Initial Load of Survey Data Items
 
import pandas as pd
import shelve
import random
from surveyor import *

def open_config():
    config_file = 'config'
    s = shelve.open(config_file, writeback=True)
    return(s)

def show_available_categories(s):
    print(f"{'-'*10}Available Categories{'-'*10}")
    for category in s['available_categories']:
        print(category)
    

def add_category():
    s = open_config()
    print(f"\nFunction: Add Category")
    show_available_categories()
    new_category = input("Type new category:")
    # You must set writeback to True when opening shelve to allow for writing of mutable list below
    s['available_categories'].append(new_category)
    print(f"\nCategory Added!\n")
    show_available_categories()

def delete_category():
    s = open_config()
    print(f"\nFunction: Delete Category")
    answer = makeChoice(list(s['available_categories']))
    s['available_categories'].remove(s['available_categories'][answer])
    
    
def show_question_list(s):
    print(f"List of Questions: \n{s['question_list']}")
    
def add_question(s):
    df_questions = s['question_list']
    answer_category = makeChoice(list(s['available_categories']))
    answer_question = input("Type new question:")
    df_questions = df_questions.append([{'Index':random.randrange(1, 10**5), 'Category':s['available_categories'][answer_category], 'Question':answer_question}], ignore_index=True)
    s['question_list'] = df_questions
    
    
def reset_data():
    answer = input("Do you want to reset all survey meta-data? (Y/N)")
    if answer == "Y":
        print('Resetting....')
        df_questions = pd.DataFrame(columns=['Index', 'Category', 'Question'])
        df_questions = df_questions.append([{'Index': random.randrange(1, 10**5), 'Category':'Category 1', 'Question':'Do you like math?'}], ignore_index=True)
        df_questions = df_questions.append([{'Index': random.randrange(1, 10**5), 'Category':'Category 1', 'Question':'Do you like english?'}], ignore_index=True)
        df_questions = df_questions.append([{'Index': random.randrange(1, 10**5), 'Category':'Category 2', 'Question':'Do you like your teacher?'}], ignore_index=True)
        df_questions = df_questions.append([{'Index': random.randrange(1, 10**5), 'Category':'Category 2', 'Question':'Do you like homework?'}], ignore_index=True)
        df_questions = df_questions.append([{'Index': random.randrange(1, 10**5), 'Category':'Category 3', 'Question':'Do you like tests?'}], ignore_index=True)
        
        open_config()
        s['teacher_list'] = ['Mrs. Oneil', 'Mr Cruz']
        s['subject_list'] = ['English', 'Math', 'Science']
        s['student_list'] = ['Joe Smith', 'Jane Doe', 'Adam Smith']
        s['question_list'] = df_questions
        s['available_categories'] = ['Category 1', 'Category 2', 'Category 3']
        s.close()
    else:
        print('Resetting Cancelled')

In [6]:

s = open_config()

show_question_list(s)

List of Questions:
   Index    Category                   Question
0  23022  Category 1          Do you like math?
1  73127  Category 1       Do you like english?
2   6499  Category 2  Do you like your teacher?
3  65713  Category 2      Do you like homework?
4  99380  Category 3         Do you like tests?

In [ ]:
delete_category()

In [ ]:
add_category()

In [ ]:
add_question(s)

In [7]:
show_question_list(s)

List of Questions:
   Index    Category                   Question
0  23022  Category 1          Do you like math?
1  73127  Category 1       Do you like english?
2   6499  Category 2  Do you like your teacher?
3  65713  Category 2      Do you like homework?
4  99380  Category 3         Do you like tests?

In [ ]:
reset_data()

In [1]:
from surveyor import *

In [2]:
import shelve
mysurvey = Survey()

In [3]:
mysurvey.configure_survey()

Teacher Selection------------------------------
1: Mrs. Oneil
2: Mr Cruz

Please enter the number of your choice from above:  2

You choose: Mr Cruz

Subject Selection------------------------------
1: English
2: Math
3: Science

Please enter the number of your choice from above:  2

You choose: Math

Student Selection------------------------------
1: Joe Smith
2: Jane Doe
3: Adam Smith

Please enter the number of your choice from above:  3

You choose: Adam Smith

Grade Selection------------------------------
1: Grade 1
2: Grade 2
3: Grade 3
4: Grade 4
5: Grade 5
6: Grade 6
7: Grade 7
8: Grade 8
9: Grade 9
10: Grade 10
11: Grade 11
12: Grade 12

Please enter the number of your choice from above:  12

You choose: Grade 12

In [4]:
mysurvey.take_survey()

Please select a value 1 to 5 for the following questions
Do you like math?

Answer:  5

Do you like english?

Answer:  5

Do you like your teacher?

Answer:  5

Do you like homework?

Answer:  5

Do you like tests?

Answer:  1

No error

In [6]:
display(mysurvey.survey_answers)

,Index,Category,Question,Answer,Date Administered,Student,Teacher,Subject,Grade
0,56391,Category 1,Do you like math?,1,2019-11-16 15:50:09.794995,Joe Smith,Mrs. Oneil,English,Grade 10
1,96574,Category 1,Do you like english?,2,2019-11-16 15:50:10.352036,Joe Smith,Mrs. Oneil,English,Grade 10
2,77702,Category 2,Do you like your teacher?,3,2019-11-16 15:50:10.859822,Joe Smith,Mrs. Oneil,English,Grade 10
3,59721,Category 2,Do you like homework?,4,2019-11-16 15:50:11.295939,Joe Smith,Mrs. Oneil,English,Grade 10
4,38359,Category 3,Do you like tests?,5,2019-11-16 15:50:11.832788,Joe Smith,Mrs. Oneil,English,Grade 10
0,56391,Category 1,Do you like math?,1,2019-11-16 18:10:52.894847,Joe Smith,Mrs. Oneil,English,Grade 10
1,96574,Category 1,Do you like english?,1,2019-11-16 18:10:53.453625,Joe Smith,Mrs. Oneil,English,Grade 10
2,77702,Category 2,Do you like your teacher?,1,2019-11-16 18:10:54.172920,Joe Smith,Mrs. Oneil,English,Grade 10
3,59721,Category 2,Do you like homework?,1,2019-11-16 18:10:54.973630,Joe Smith,Mrs. Oneil,English,Grade 10
4,38359,Category 3,Do you like tests?,5,2019-11-16 18:10:56.285549,Joe Smith,Mrs. Oneil,English,Grade 10
0,56391,Category 1,Do you like math?,5,2019-11-16 18:12:43.309824,Adam Smith,Mr Cruz,Math,Grade 12
1,96574,Category 1,Do you like english?,5,2019-11-16 18:12:43.874207,Adam Smith,Mr Cruz,Math,Grade 12
2,77702,Category 2,Do you like your teacher?,5,2019-11-16 18:12:44.455545,Adam Smith,Mr Cruz,Math,Grade 12
3,59721,Category 2,Do you like homework?,5,2019-11-16 18:12:45.022830,Adam Smith,Mr Cruz,Math,Grade 12
4,38359,Category 3,Do you like tests?,1,2019-11-16 18:12:45.965543,Adam Smith,Mr Cruz,Math,Grade 12
0,56391,Category 1,Do you like math?,5,2019-11-16 18:23:41.096871,Adam Smith,Mr Cruz,Math,Grade 12
1,96574,Category 1,Do you like english?,5,2019-11-16 18:23:41.682737,Adam Smith,Mr Cruz,Math,Grade 12
2,77702,Category 2,Do you like your teacher?,5,2019-11-16 18:23:42.219298,Adam Smith,Mr Cruz,Math,Grade 12
3,59721,Category 2,Do you like homework?,5,2019-11-16 18:23:42.780442,Adam Smith,Mr Cruz,Math,Grade 12
4,38359,Category 3,Do you like tests?,1,2019-11-16 18:23:43.941610,Adam Smith,Mr Cruz,Math,Grade 12